//-- Config -----------------------------------------------------------

$family: 'Varela Round', sans-serif;

$font-size: 1em;

$font-weight-light  : 300;
$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold   : 700;

%font-base {
  font-family: $family;
  color: $global-darkest-grey;
  margin: 0;
}

//-- Scale ------------------------------------------------------------

$font-giga-size: $font-size * 6;
$font-mega-size: $font-size * 4.5;
$font-kilo-size: $font-size * 3;

$font-h1-size: $font-size * 2.25;
$font-h2-size: $font-size * 2;
$font-h3-size: $font-size * 1.75;
$font-h4-size: $font-size * 1.5;
$font-h5-size: $font-size * 1.25;
$font-h6-size: $font-size;

$font-milli-size: $font-size * 0.875;
$font-micro-size: $font-size * 0.75;


%typography--giga,
.typography--giga {
  @extend %font-base;
  font-size:$font-giga-size;
}

%typography--mega,
.typography--mega {
  @extend %font-base;
  font-size:$font-mega-size;
}

%typography--kilo,
.typography--kilo {
  @extend %font-base;
  font-size:$font-kilo-size;
}

%typography--alpha,
.typography--alpha {
  @extend %font-base;
  font-size:$font-h1-size;
}

%typography--beta,
.typography--beta {
  @extend %font-base;
  font-size:$font-h2-size;
}

%typography--gamma,
.typography--gamma {
  @extend %font-base;
  font-size:$font-h3-size;
}

%typography--delta,
.typography--delta {
  @extend %font-base;
  font-size:$font-h4-size;
}

%typography--eta,
.typography--eta {
  @extend %font-base;
  font-size:$font-h5-size;
}

%typography--theta,
.typography--theta {
  @extend %font-base;
  font-size:$font-h6-size;
}

%typography--milli,
.typography--milli {
  font-size:$font-milli-size;
}

%typography--micro,
.typography--micro {
  letter-spacing: .5px;
  font-size:$font-micro-size;
}

%typography--regular,
.typography--regular {
  font-weight: $font-weight-normal!important;
}

%typography--light,
.typography--light {
  font-weight: $font-weight-light!important;
}

%typography--mono,
.typography--mono {
  font-family: 'Roboto Mono'!important;
  font-weight: $font-weight-normal!important;
}

//-- Main -------------------------------------------------------------
h1 {@extend %typography--alpha;}
h2 {@extend %typography--beta ;}
h3 {@extend %typography--gamma;}
h4 {@extend %typography--delta;}
h5 {@extend %typography--eta  ;}
h6 {@extend %typography--theta;}

p {@extend %typography--regular;}
a {
  @extend %typography--regular;
  text-decoration: none;
  color: $global-blue;
}
