$global-primary:       #FC3565;
$global-secondary:     #33F3B4;

$global-blue:          #097DE8;

$global-black:         #000000;
$global-darkest-grey:  #101012;
$global-dark-grey:     #282931;
$global-light-grey:    #BBBBBB;
$global-lightest-grey: #DCDCDC;
$global-white-tinted:  #F0F0F0;
$global-white:         #FFFFFF;

$global-gold:          #DFBA69;
$global-silver:        #C9D1D3;

//-- Font -------------------------------------------------------------

.font-primary         { color: $global-primary !important; }
.font-secondary       { color: $global-secondary !important; }
.font-blue            { color: $global-blue !important; }
.font-gold            { color: $global-gold !important; }
.font-silver          { color: $global-silver !important; }

.font-black           { color: $global-black !important; }
.font-darkest-grey    { color: $global-darkest-grey !important; }
.font-dark-grey       { color: $global-dark-grey !important; }
.font-light-grey      { color: $global-light-grey !important; }
.font-lightest-grey   { color:  !important; }
.font-white-tinted    { color: $global-white-tinted !important; }
.font-white           { color: $global-white !important; }

//-- Background -------------------------------------------------------

.bg-primary         { background-color: $global-primary; }
.bg-secondary       { background-color: $global-secondary; }
.bg-blue            { background-color: $global-blue; }
.bg-gold            { background-color: $global-gold; }
.bg-silver          { background-color: $global-silver; }

.bg-black           { background-color: $global-black; }
.bg-darkest-grey    { background-color: $global-darkest-grey; }
.bg-dark-grey       { background-color: $global-dark-grey; }
.bg-light-grey      { background-color: $global-light-grey; }
.bg-lightest-grey   { background-color: $global-lightest-grey; }
.bg-white-tinted    { background-color: $global-white-tinted; }
.bg-white           { background-color: $global-white; }
