@media (max-width: 600px) {
	.ghost {
		display: none;
	}

	.form_closed {
		width: 100%;
		text-align: center;
		border: none;
		background: $global-primary;
		border-top: 1px solid $global-primary;
		color: $global-white !important;
		padding: 14px;
		box-shadow: none;
		border-radius: 2px;
		cursor: pointer;
	}

	.form_opened {
		float: left;
	}

	.row {
		button {
			width: 50%;
			border: none;
			background: $global-primary;
			color: $global-white;
			padding: 14px;
			box-shadow: none;
			border-radius: 0 0 2px 0;
			cursor: pointer;
			&:active, &:focus {
				outline: none;
			}
			&.form_opened {
				border-radius: 0 0 0 2px;
				background: $global-lightest-grey;
				color: $global-darkest-grey;
			}
			&.form_closed {
				width: 100% !important;
			}
		}
	}
}

@media (min-width: 601px) {
	#form_enable {
		display: hidden;
	}
	.row {
		display: none;
	}
}
