nav {
  z-index: 1000;
  position: relative;
  width: 100%;
  //margin-top: -50px;
  background: $global-white;
  color: $global-dark-grey;
  box-shadow: 0 3px 24px rgba($global-black,.25);
  &.main-nav-scrolled {
    position: fixed;
    top: 0px;
  }
  .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .logo {
      a {
        color: $global-primary;
        text-decoration: none;
        padding: 15px 8px;
        transition: all .2s ease-in-out 0s;
        &:hover {
          color: $global-primary;
          box-shadow: 0 -3px 0px $global-primary inset;
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: flex;
        color: $global-light-grey;
        text-decoration: none;
        margin-right: 14px;
        padding: 16px 8px;
        transition: all .2s ease-in-out 0s;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          color: $global-primary;
          box-shadow: 0 -3px 0px $global-primary inset;
        }
        .fa {
          font-size: 2em;
        }
      }
    }
  }
  .active {
    color: $global-primary !important;
    box-shadow: 0 -3px 0px $global-primary inset !important;
  }
}
