@import "../vendor/csswizardry-grids";
@import "./colors";
@import "../partials/all";

@mixin bg-overlay($color, $overlay, $image) {
	background: linear-gradient(45deg, rgba($color, $overlay) 0%, rgba($color, $overlay) 100%), no-repeat center/cover url($image);
	background-attachment: fixed;
}

$bg-img: '~/img/background-min.jpg';

@media screen {
body {
	overflow: auto !important;
	background-color: $global-dark-grey;
  @include bg-overlay($global-dark-grey, .75, $bg-img);
}

.hr--right {
	border-right: 1px solid $global-dark-grey;
	margin: 0 14px;
}

.muted {
	color: rgba($global-dark-grey, .75);
}

#resume {
	a {
		color: $global-primary;
	}
	.interests {
		padding-left: 0;
	}
	li {
		list-style: circle;
	}
	ul.pill-container {
		padding-left: 16px;
	}
	li.pill {
		list-style: none;
		display: inline-block;
		padding: 6px 12px;
		margin: 4px;
		background-color: $global-primary;
		color: $global-white;
		border-radius: 4px;
		font-weight: bolder;
		a {
			color: $global-white;
		}
	}
	.container {
		margin: 0 auto;
		background-color: $global-white;
		border-radius: 2px;
	}
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 24px;
		padding-right: 24px;
		.avatar {
			border-radius: 10px;
			width: 150px;
			height: 150px;
		}
		.details {
			flex-direction: column;
			.title {
				display: flex;
				flex-direction: column;
				align-items: center;
				.typography--kilo {
					font-weight: 600;
				}
			}
		}
	}
}

}


@media print {
	body {
		font-size: .75em;
	}
	.resume, hr.print {
		display: none;
	}
	.summary {
		padding-left: 0;
		padding-right: 0;
	}
	#resume {
		padding: 0 !important;
	}
	.grid {
		width: 100% !important;
	}

	//HACK Targets the 3rd "Job"
	// .grid__item.three-fifths > div:nth-child(4) {
	// 	padding-top: 80px;
	// }
	//HACK Targets the 2nd "Skills"
	// .grid__item.two-fifths > div:nth-child(7) {
	// 	margin-top: 0px;
	// }
	li {
		list-style: circle;
	}
}
