//-- Helpers ----------------------------------------------------------
@function chamber-get-size($key) {
  $sizes: map-get($chamber-config, sizes);
  @return map-get($sizes, $key);
}

//-- Config -----------------------------------------------------------
$chamber-spacing:    util-rhythm(2);
$chamber-key-_25x:   "-_25x";
$chamber-key-half:   "-half";
$chamber-key-double: "-double";
$chamber-key-triple: "-triple";

$chamber-config: (
  modifiers: top bottom left right,
  variations: null $chamber-key-half $chamber-key-_25x $chamber-key-double $chamber-key-triple,
  sizes: (
    null:                $chamber-spacing,
    $chamber-key-_25x:   $chamber-spacing*0.25,
    $chamber-key-half:   $chamber-spacing*0.5,
    $chamber-key-double: $chamber-spacing*2,
    $chamber-key-triple: $chamber-spacing*3
  )
);

//-- Main -------------------------------------------------------------
@each $variation in map-get($chamber-config, variations) {
  $size: chamber-get-size($variation);
  $size-in-px: rem-to-px($size);
  $modifiers: map-get($chamber-config, modifiers);

  %chamber#{$variation},
  .chamber#{$variation} {
    padding: $size-in-px;
    padding: $size;
  }

  %chamber#{$variation}--sides,
  .chamber#{$variation}--sides {
    padding-left:  $size-in-px;
    padding-left:  $size;
    padding-right: $size-in-px;
    padding-right: $size;
  }

  %chamber#{$variation}--ends,
  .chamber#{$variation}--ends {
    padding-top:    $size-in-px;
    padding-top:    $size;
    padding-bottom: $size-in-px;
    padding-bottom: $size;
  }

  @each $modifier in $modifiers {
    %chamber#{$variation}--#{$modifier},
    .chamber#{$variation}--#{$modifier} {
      padding-#{$modifier}: $size-in-px;
      padding-#{$modifier}: $size;
    }
  }
}
