$base-spacing-unit: .875rem;

$rhythm-config: (
  base: $base-spacing-unit
);

@function em-to-px($value)  {
  $browser-base-px: 16px !default;
  @return ($value / 1em)  * $browser-base-px;
}

$base-font-size:    1em;
$base-px:           em-to-px($base-font-size);

@function rem-to-px($value) {
  @return ($value / 1rem) * $base-px;
}

//-- Getters ----------------------------------------------------------
@function util-rhythm($int) {
  @if not map-has-key($rhythm-config, base) {
    @error "Not implemented -> Map $rhythm-config with key: `base`. Value is the base-spacing-unit in rem";
  }

  @return map-get($rhythm-config, base) * $int;
}
