//-- z-index ----------------------------------------------------------
@function z-index($key) {
  @if map-has-key($z-index, $key) {
    @return map-get($z-index, $key);
  }

  @warn "Unknown `#{$key}` in $z-index.";
  @return null;
}

$z-index: (
  dropdown:     50,
  modal:        500,
  notification: 5000,
  dialog:       50000,
  vendor:       500000
);
