nav { z-index: 1000; position: fixed; width: 100%; margin-top: -50px; background: #FFFFFF; color: #282931; box-shadow: 0 3px 24px rgba(0, 0, 0, 0.25); }

nav .container { height: 50px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

nav .container .logo a { color: #FC3565; text-decoration: none; padding: 15px 8px; transition: all .2s ease-in-out 0s; }

nav .container .logo a:hover { color: #FC3565; box-shadow: 0 -3px 0px #FC3565 inset; }

nav .container .links a { color: #BBBBC4; text-decoration: none; margin-right: 14px; padding: 15px 8px; transition: all .2s ease-in-out 0s; }

nav .container .links a:last-of-type { margin-right: 0; }

nav .container .links a:hover { color: #FC3565; box-shadow: 0 -3px 0px #FC3565 inset; }

nav .active { color: #FC3565 !important; box-shadow: 0 -3px 0px #FC3565 inset !important; }

body { background: #FFFFFF; -webkit-font-smoothing: antialiased; font-family: "Varela Round", sans-serif; font-size: 1em; height: 100%; color: #282931; }

.container { max-width: 980px; margin: 0 auto; }

section { padding: 28px 0; }

#hero { margin-top: 50px; padding: 112px 0; background: #282931; background: linear-gradient(45deg, rgba(40, 41, 49, 0.75) 0%, rgba(40, 41, 49, 0.75) 100%), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/46557/bigstock-Businessman-Signing-An-Agreeme-88320248_small.jpg); background-position: center; background-size: cover; color: #FFFFFF; }

#hero .cta { display: inline-block; color: #33F3B4; border: 2px solid #33F3B4; border-radius: 2px; text-transform: uppercase; padding: 14px 28px; text-decoration: none; transition: all .2s ease-in-out 0s; }

#hero .cta:hover { background: #33F3B4; color: #FFFFFF; }

#about .container { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

#about .container .avatar img { border-radius: 50%; width: 200px; height: 200px; }

.text--center { text-align: center; }

.push--down { margin-top: 28px; }
