#hero {
  height: 100vh;
  padding: 1px 0;
  //padding: 28*8px 0;
  background: $global-dark-grey;
  background: linear-gradient(45deg, rgba($global-dark-grey, .75) 0%, rgba($global-dark-grey, .75) 100%), no-repeat center/cover url('http://streetwill.co//uploads/post/photo/228/medium_4iWno4pT-RX1J7qFyhVX3tLzbQuzRObt81zZKGCP1-4.jpg');
  color: $global-white;
  display: flex;
  align-items: center;
}
