#work {
  padding: 0;
  .grid {
    background: $global-primary;
    color: $global-white;
    position: relative;
    a {
      height: 100%;
    }
    .grid__item {
      padding: 100px 0;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      p {
        color: $global-white;
      }
    }
    .desk--one-half:first-of-type {
      background: $global-blue;
    }
  }
}
