@import "vendor/csswizardry-grids";
@import "modules/all";
@import "partials/all";
@import "styleguide";


body {
  background: $global-white;
  -webkit-font-smoothing: antialiased;
  font-family: $family;
  font-size: 1em;
  height: 100%;
  color: $global-dark-grey;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.sticky {
  z-index: z-index(vendor);
}
