$primary:       #FC3565;
$secondary:     #33F3B4;

$blue:          #097de8;

$black:         #000000;
$darkest-grey:  #101012;
$dark-grey:     #282931;
$light-grey:    #BBBBBB;
$lightest-grey: #DCDCDC;
$white:         #FFFFFF;

$gold:          #dfba69;
$silver:        #c9d1d3;
